.settings{
    display: flex;
}
.settingsWrapper{
    flex : 9;
    margin : 15px;
}
.settingsTitle{
    display : flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Roboto', sans-serif;
}
.settingsUpdateTitle{
    font-size : 30px;
    margin-bottom: 20px;
    color : lightcoral;
    font-family:'Roboto', sans-serif;
}
.settingsDeleteTitle{
    color : red;
    font-size : 12px;
    cursor : pointer;
}
.settingsForm{
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
}
.settingsPP{
    display : flex;
    align-items: center;
    margin : 10px 0;

}
.settingsPP > img{
    width : 140px;
    height : 140px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsPPIcon{
    width : 25px;
    height : 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    cursor: pointer;
}
.settingsForm >input{
    color : gray;
    margin : 10px 0;
    height : 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family:'Roboto', sans-serif;
    width: 400px;
    border-radius: 8px;
    outline: none;
    font-size: 17px;
}
.settingsForm >input:focus{
    border-color : rgb(5, 164, 79);
    box-shadow: 0 0 10px rgb(102, 102, 106);
}
.settingsSubmit{
    margin-top : 20px;
    cursor : pointer;
    background-color: teal;
    border : none;
    color : white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family:'Roboto', sans-serif;
    width: 150px;
    transition: background 0.5s,transform 0.5s;

}
.settingsSubmit:hover{
    background-color: rgb(6, 92, 92);
    transform: translateY(-1px);
}
.success{
    /* border: solid red 2px; */
    color: white;
    margin: 10px;
    margin-left:2px;
    padding-right: 0px;
}